<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EliteBot: <?js= title ?></title>

    <!-- <script src="scripts/prettify/prettify.js"> </script> -->
    <!-- <script src="scripts/prettify/lang-css.js"> </script> -->

    <!-- <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css"> -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
</head>

<body>

  <?js= content ?>


  <!-- <script> prettyPrint(); </script> -->
  <!-- <script src="scripts/linenumber.js"> </script> -->

  <script src="dist/docs.bundle.js"> </script>
</body>
</html>
